.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #dc2626;
  --rdp-background-color: #e5e7eb;
  --rdp-accent-color-dark: #b91c1c;
  --rdp-accent-color-light: #fee2e2;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 2px solid var(--rdp-accent-color);
  margin: 1em;
}

.rdp-months {
  display: flex;
  justify-content: center;
}

.rdp-month {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--rdp-accent-color-light);
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color);
  color: white;
}

.rdp-day_today {
  font-weight: bold;
  background-color: var(--rdp-accent-color-light);
}

.rdp-day_disabled {
  opacity: 0.3;
  cursor: not-allowed;
} 